/* CSS Document */
/* Project 7 Practice CSS Stylesheet */

body {
  margin: 0;
  background-image: url('Images/background.gif');
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
}

header {
  width: 760px;
  height: 150px;
  background-color: #CCCCCC;
  text-align: center;
  padding-top: 10px;
  border: dashed medium navy;
  margin: auto;
}

.logoleft {
  float: left;
  padding-top: 30px;
  padding-left: 15px;
}

section {
  width: 760px;
  background-image: url('Images/inner_background.gif');
  background-repeat: repeat-y;
  overflow: hidden;
  border-right: dashed medium navy;
  border-left: dashed medium navy;
  margin: auto;
}

nav {
  float: left;
  width: 110px;
  padding-left: 10px;
}

nav a {
  border: 2px inset #CCCCCC;
  background-color: maroon;
  line-height: 250%;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  padding: 2px 5px;
}

nav a:hover {
  color: yellow;
  border: 2px outset #CCCCCC;
}

article {
  float: left;
  width: 600px;
  padding: 5px;
  text-align: center;
}

footer {
  text-align: center;
  width: 760px;
  height: 70px;
  border: dashed medium navy;
  background-color: #CCCCCC;
  margin: auto;
  padding-top: 15px;
}
